<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LetsChitChat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>48041BEB1F1241ED00AA4FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48041BFF1F1241ED00AA4FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>48041C0A1F1241ED00AA4FF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
